---
import type { Props as CommissionData } from '#data/types'
import type { HomeUpdateSummary } from '#lib/home/updateSummary'
import { homeCopyByLocale } from '#features/home/i18n/homeCopy'
import type { HomeLocale } from '#features/home/i18n/homeLocale'
import { getCharacterSectionHash, getCharacterTitleId } from '#lib/characters/nav'
import Update from '#features/home/blocks/Update.astro'

interface CommissionDescriptionProps {
  commissionData: CommissionData
  activeCharacters: string[]
  updateSummary?: HomeUpdateSummary
  locale: HomeLocale
}

const { commissionData, activeCharacters, updateSummary, locale } =
  Astro.props as CommissionDescriptionProps
const homeCopy = homeCopyByLocale[locale]
const introductionTitle = homeCopy.introductionTitle
const introductionTitleId = getCharacterTitleId(introductionTitle)
const introductionSectionHash = getCharacterSectionHash(introductionTitle)
---

<div id="--------Description--------">
  <h1 class="pb-0 md:pb-2">{homeCopy.siteTitle}</h1>
  <div id={introductionTitleId} class="mb-2 pt-4">
    <h2 class="group relative">
      {introductionTitle}
      <a
        href={introductionSectionHash}
        class="ml-2 font-bold text-gray-400 no-underline opacity-0 transition-opacity duration-200 group-hover:opacity-100 dark:text-gray-600"
      >
        #
      </a>
    </h2>
  </div>

  <p class="pt-4">
    {homeCopy.descriptionParagraphs[0]} <a href="/rss.xml" target="_blank">RSS</a>.
  </p>
  <p class="pt-4 md:pt-6">
    {homeCopy.descriptionParagraphs[1]}
    <br />
    {homeCopy.supportLinePrefix} <a href="/support">{homeCopy.supportLinkLabel}</a>.
  </p>
  <p class="pt-4 md:pt-6">
    {homeCopy.descriptionParagraphs[2]} <a href="https://odaibako.net/u/CrystallizeSub">odaibako</a> {homeCopy.contactConnector} <a
      href="mailto:contact@crystallize.cc"
      >{homeCopy.contactLinkLabel}</a
    >. {homeCopy.contactLineSuffix}
  </p>
  <Update commissionData={commissionData} activeCharacters={activeCharacters} summary={updateSummary} />
</div>
