---
import { homeCopyByLocale } from '#features/home/i18n/homeCopy'
import type { HomeLocale } from '#features/home/i18n/homeLocale'

interface FooterProps {
  locale: HomeLocale
}

const currentYear = new Date().getFullYear()
const { locale } = Astro.props as FooterProps
const homeCopy = homeCopyByLocale[locale]
---

<div id="--------Footer--------">
  <div class="pt-4" />
  <hr />
  <div class="pb-8" />

  <div class="pb-10 text-center text-xs">
    <p class="pt-2">{homeCopy.footerNotice}</p>
    <p class="pt-2">{homeCopy.footerCopyright}</p>
    <p class="pt-2">{homeCopy.footerCharacterNames}</p>
    <p class="pt-2">{homeCopy.footerNoIndex}</p>
  </div>

  <small class="block pt-24 pb-10 font-mono text-xs text-gray-800 md:pb-0 dark:text-gray-300">
    <time class="tracking-tight">2022 - {currentYear}</time> © Crystallize
    <div class="float-right">
      <a
        href="mailto:dmca@crystallize.cc"
        class="decoration-inherit decoration-dotted underline-offset-2 dark:text-gray-300"
      >
        DMCA
      </a>
    </div>
  </small>
</div>
