---
import { buildResponsiveSrcSet } from '#features/home/commission/imageVariants'

interface ProtectedCommissionImageProps {
  altText: string
  resolvedImageSrc: string
}

const { altText, resolvedImageSrc }: ProtectedCommissionImageProps = Astro.props

const COMMISSION_IMAGE_WIDTH = 1280
const COMMISSION_IMAGE_HEIGHT = 525
const COMMISSION_IMAGE_SIZES = '(max-width: 768px) 92vw, 640px'
const srcSet = buildResponsiveSrcSet(resolvedImageSrc)
---

<div data-commission-image="true" data-commission-alt={altText} class="relative">
  <div
    data-commission-image-skeleton="true"
    aria-hidden="true"
    class="absolute inset-0 animate-pulse bg-gray-200/80 dark:bg-gray-700/60"
  />
  <img
    data-commission-image-node="true"
    src={resolvedImageSrc}
    srcset={srcSet || undefined}
    sizes={srcSet ? COMMISSION_IMAGE_SIZES : undefined}
    alt={altText}
    class="pointer-events-none relative z-10 block w-full select-none"
    loading="lazy"
    width={COMMISSION_IMAGE_WIDTH}
    height={COMMISSION_IMAGE_HEIGHT}
    style="height:auto"
  />
</div>
